*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
html,body{
    background-color: #fef5e6;
}
header{
    width: 7.5rem;
    height: 6.85rem;
    background: url("../images/headerBg.png") center no-repeat;
    background-size: cover;
}
article{
    padding: .1rem .4rem;
    font-size: .24rem;
    color: #86262b;
}
main{
    margin: .25rem auto 0;
    width: 6.72rem;
}
main section form label{
    display: block;
    font-weight: bold;
    font-size: .24rem;
    line-height: .6rem;
    color: #86262b;
}
main section form input,main section form textarea{
    box-sizing: border-box;
    padding: 0 .25rem;
    width: 100%;
    height: .8rem;
    font-size: .22rem;
    color: #333333;
    border-radius: .1rem;
    border: 1px solid #86262b;
}
main section form textarea{
    padding: .24rem .25rem;
    height: 3.46rem;
    line-height: .34rem;
    resize: none;
}
main section a{
    display: block;
    margin: .4rem auto .8rem;
    width: 4.57rem;
    height: .88rem;
    text-align: center;
    line-height: .88rem;
    font-size: .34rem;
    border-radius: .5rem;
    color: #ffffff;
    background-color: #c30001;
}
footer{
    margin: 0 auto;
    width: 6.72rem;
}
footer section:nth-child(1) div{
    position: relative;
    width: 100%;
    height: .5rem;
    font-size: .24rem;
    color: #86262b;
    text-align: center;
    line-height: .5rem;
}
footer section:nth-child(1) div span:nth-child(1),footer section:nth-child(1) div span:nth-child(3){
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 2.66rem;
    height: 1px;
    background-color: #86262b;
}
footer section:nth-child(1) div span:nth-child(1){
    left: 0;
}
footer section:nth-child(1) div span:nth-child(3){
    right: 0;
}
footer section:nth-child(2) ul li{
    margin-bottom: .55rem;
}
footer section:nth-child(2) ul li p:nth-child(1){
    display: flex;
    align-items: center;
}
footer section:nth-child(2) ul li p:nth-child(1) span:nth-child(1){
    display: inline-block;
    margin-right: .1rem;
    width: .12rem;
    height: .12rem;
    border-radius: 50%;
    background-color: #333333;
}
footer section:nth-child(2) ul li p:nth-child(1) span:nth-child(2){
    font-size: .24rem;
    color: #333333;
}
footer section:nth-child(2) ul li p:nth-child(2),footer section:nth-child(2) ul li p:nth-child(3){
    padding: 0 .24rem;
    font-size: .22rem;
    text-align: justify;
    color: #666666;
}
footer section:nth-child(2) ul li p:nth-child(2){
    color: #86262b;
}

.mask{
    position: absolute;
    top: 0px;
    filter: alpha(opacity=60);
    background-color: #000;
    z-index: 100;
    left: 0px;
    opacity: 0.6;
    -moz-opacity: 0.6;
}

.model{
    display: none;
    box-sizing: border-box;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    padding: .8rem .5rem .45rem;
    width: 5.56rem;
    height: 3.52rem;
    border-radius: .3rem;
    background-color: #ffffff;
    z-index: 200;
}
.model p{
    font-size: .3rem;
    color: #333333;
}
.model a{
    position: absolute;
    bottom: .45rem;
    display: block;
    width: 4.57rem;
    height: .88rem;
    font-size: .34rem;
    text-align: center;
    line-height: .88rem;
    border-radius: .5rem;
    color: #ffffff;
    background-color: #c30001;
}